h1 {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.content {

    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;

}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pokemons {
    display: grid ;
    grid-template-columns: 2fr 5fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 380px) {
    .pokemon {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px;) {
    .pokemon {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 992px) {
    .pokemon {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 3rem;
    background-color: #045338;
    color: #ffffff;
    display: flex;
    flex-direction: column;

}

.pokemon .number {
    color: black;
    text-align: right;
    opacity: 0.3;
    font-size: .825;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: rgb(168, 153, 130);
    color: rgb(219, 241, 221);
    padding: .5rem 1rem;
    margin: .25rem 0;
    font-size: .825;
    border-radius: 1rem;
}

.pokemon .detail img {
    max-width: 100%;
    height: 100px;
}